<div class="container rounded shadow p-2 bg-light">
  <div class="row">
    <div class="col-6">
      <% if @cocktail.photo.attached? %>
        <%= cl_image_tag @cocktail.photo.key, height: 400, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag "http://loremflickr.com/800/800/#{@cocktail.name}", alt: "#{@cocktail.name} pic", class: "mw-100 mh-100" %>
      <% end %>
    </div>
    <div class="col-6">
        <h1 class="text-center"><%= @cocktail.name %></h1>
        <p><%= @cocktail.description %></p>
    </div>
    <div class="col-12 row">
      <div class="col-6">
        <div class="my-3 rounded p-3 bg-light">
          <h3 id="ingrdients-header" class="ml-2">Ingredients</h3>
          <ul class="m-2 list-group">
            <% @cocktail.doses.each do |dose| %>
              <li id="<%= "dose-#{dose.id}" %>" class="list-group-item p-2 d-flex justify-content-between">
                <%= dose.ingredient.name %> -
                <%= dose.description %>
                <%= link_to dose_path(dose), method: :delete, data: { confirm: 'Are you sure?'}, remote: true do%>
                  <i class="fas fa-times"></i>
                <% end %>
              </li>
            <% end %>
          </ul>

          <div id="add-dose" class="list-group-item mx-2 my-5 p-2">
            <%= simple_form_for([@cocktail, @dose], remote: true) do |f| %>


                <%= f.association :ingredient, input_html: { id: 'ingredients' } %>

                <%= f.input :description, label: 'Amount' %>

                <%= f.button :submit, 'Add Ingredient'.html_safe, class: 'm-2 btn btn-secondary btn-lg' %>

            <% end %>
          </div>

        </div>
      </div>
      <div class="col-6">
        <div class="my-3 border rounded p-3 bg-light d-none">
          <h3 class="ml-2">Method</h3>
          <ul class="m-2 list-group">
            <% @cocktail.doses.each do |dose| %>
              <li class="list-group-item d-flex justify-content-between">
                <%= dose.description %>
                <%= dose.ingredient.name %>
                <%= link_to dose_path(dose), method: :delete, data: { confirm: 'Are you sure?'} do%>
                  <i class="fas fa-times"></i>
                <% end %>
              </li>
            <% end %>
          </ul>
          <%= link_to cocktail_doses_path(@cocktail), class: 'ml-2 btn btn-secondary btn-lg' do %>
            <span>Edit Method</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="m-1 d-flex align-items-end justify-content-between">
    <%= link_to cocktails_path, class: 'btn btn-primary btn-lg' do %>
      <i class="fas fa-list-ul"></i>
    <% end %>
    <div>
    <%= link_to cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ml-3 btn btn-danger btn-lg' do %>
      <i class="fas fa-trash"></i>
    <% end %>
    </div>
  </div>
</div>
