<%= simple_form_for(@cocktail) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
  </div>

  <div>
    <%= f.input :method, as: :text, input_html: { class: 'form-control', id: 'method', rows: '10' } %>
    <p class="m-0">Method preview</p>
    <div id="preview" class="mb-2 border rounded p-2 bg-white"></div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
