<div class="container">
  <h1>Add a new dose for <%= @cocktail.name %></h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
