<div class="my-5 container d-flex justify-content-center">
  <div class="col-6 m-3 border rounded shadow p-3">
    <h1>Add a new dose for <%= @cocktail.name %></h1>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>
