<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="fas fa-cocktail"></i>
        Miss Cocktails
      <% end %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <footer id="footer" class="p-5 bg-dark">
    <div></div>
    <p>Developed with ❤️ and ☕ by <%= link_to "Leandro Barroso", "https://leandrobarroso.github.io/profile/", :target => "_blank" %></p>
    </footer>
  </body>
</html>
