<!DOCTYPE html>
<html>
  <head>
    <title>Miss Cocktails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-white">
    <nav class="navbar navbar-dark bg-dark">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="fas fa-cocktail"></i>
        Miss Cocktails
      <% end %>
      <!-- <form class="form-inline my-2 my-lg-0" action="cocktails/search" method="POST">
        <input class="" type="search" placeholder="" aria-label="Search" name="query">

        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </form> -->
      <%= form_tag cocktails_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
        <%= text_field_tag :query,
          params[:query],
          id: 'search-input',
          class: "form-control mr-sm-2"
        %>
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
      <% end %>
    </nav>
    <div class="h-100 mt-3 container">
      <%= yield %>
    </div>
    <footer class="mt-5 p-2 bg-dark">
      <div class="mw-100 row d-flex flex-column justify-content-center">
        <div class="w-100 m-2 p-3 col-12 d-flex justify-content-center">
          <span class="m-3 p-2 display-4">
            <a href="https://github.com/leandrobarroso" target="_blank">
              <i class="fab fa-github text-light"></i>
            </a>
          </span>
          <span class="m-3 p-2 display-4">
            <a href="https://linkedin.com/in/leandrorbarroso" target="_blank">
              <i class="fab fa-linkedin-in text-light"></i>
            </a>
          </span>
          <span class="m-3 p-2 display-4">
            <a href="https://twitter.com/LRBarroso" target="_blank">
              <i class="fab fa-twitter text-light"></i>
            </a>
          </span>
        </div>
        <p class="text-center text-light">Developed with ☕ and &#10084; by <%= link_to "Leandro Barroso", "https://leandrobarroso.github.io/profile/", :target => "_blank", class: "text-info" %></p>
      </div>
    </footer>
  </body>
</html>
